<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Index</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
<div class="header-container">
    <h1>User List</h1>
    <a href="create.html" class="button-success">New User</a>
    <a href="../servers/index.html" class="button-primary">View Servers</a>


</div>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Role</th>
        <th>Servers Joined</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>user@example.com</td>
        <td>Administrator</td>
        <td>5</td>
        <td><a href="show.html" class="button-primary" >View Details</a></td>
    </tr>
    <tr>
        <td>2</td>
        <td>guest@example.com</td>
        <td>Guest</td>
        <td>2</td>
        <td><a href="show.html" class="button-primary" >View Details</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>
