<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-Server Association</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>

    <div class="header-container">
        <h1>User-Server Association</h1>
        <a href="../servers/show.html" class="button-danger">Delete Association</a>
        <a href="edit.html" class="button-edit">Edit Association</a>

    </div>

    <table>
        <tr>
            <th>User</th>
            <td>User 1</td>
            <td>
                <a href="../users/show.html" class="button-primary">View User</a>
            </td>
        </tr>

        <tr>
            <th>Server</th>
            <td>Server 1</td>
            <td>
                <a href="../servers/show.html" class="button-primary">View Server</a>
            </td>
        </tr>

        <tr>
            <th>Is Admin</th>
            <td> Yes </td>
            <td></td>
        </tr>

        <tr>
            <th>Created At</th>
            <td>2020-01-01 12:00:00</td>
            <td></td>
        </tr>

    </table>


</body>

</html>
