<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Details</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>

<div class="header-container">
    <h1>Server Details</h1>
    <a href="index.html" class = "button-primary">View All Servers</a>
    <a href="edit.html" class = "button-edit">Edit</a>
</div>

<table>
    <tr>
        <th>ID</th>
        <td>1</td>
    </tr>
    <tr>
        <th>Name</th>
        <td>Server 1</td>
    </tr>
    <tr>
        <th>Capacity</th>
        <td>10 / 20 members</td>
    </tr>
</table>

<div class="header-container">
    <h2>Members</h2>
    <a href="../users_server/create-for-server.html" class = "button-success">Add Member</a>
</div>
<table>
    <thead>
    <tr>
        <th>Email</th>
        <th>Is Admin</th>
        <th>Date Joined</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>admin@example.com</td>
        <td>Yes</td>
        <td>11.03.2019</td>
        <td>
            <a href="../users/show.html" class="button-primary" >View User</a>
            <a href="../users_server/show.html" class="button-primary"  >View Association</a>
            <a href="../users_server/edit.html" class = "button-edit">Edit Association</a>
        </td>
    </tr>
    <tr>
        <td>user1@example.com</td>
        <td>No</td>
        <td>11.03.2019</td>
        <td>

            <a href="../users/show.html" class="button-primary" >View User</a>
            <a href="../users_server/show.html" class="button-primary"  >View Association</a>
            <a href="../users_server/edit.html" class = "button-edit">Edit Association</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
