// _colors.scss

// button colors
$pastel-purple: #ce93d8;
$darker-purple: #ba68c8;

$pastel-red: #FF6F61; // Pastel Coral Red
$darker-red: #E0514A; // Darker Coral Red

$pastel-green: #77DD77; // Pastel Mint Green
$darker-green: #5CB85C; // Darker Mint Green

$pastel-yellow: #f1d24f;  // Pastel Yellow
$darker-yellow: #e1c14a;  // Darker Yellow


// body
$background-color: #e0f2f1 ;
$body-text-color: #4a4a4a;

// header
$header-text-color: #555555;

// table
$table-border-color: #ddd;
$table-header-color: #ffccbc;
$table-row-color: #f1f8e9;
$table-row-hover-color: #e1f5fe;

















