<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>

<div class="header-container">
    <h1>User Details</h1>
    <a href="edit.html" class="button-edit" >Edit</a>
    <a href="index.html" class="button-primary" >View All Users</a>

</div>
<table>
    <tr>
        <th>ID</th>
        <td>1</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>user@example.com</td>
    </tr>
    <tr>
        <th>Password (Hash)</th>
        <td>*****</td>
    </tr>
    <tr>
        <th>Date Joined</th>
        <td>11.03.2019</td>
    </tr>
    <tr>
        <th>Role</th>
        <td>Administrator</td>
    </tr>
    <tr>
        <th>Servers Joined</th>
        <td>5</td>
    </tr>
</table>

<div class="header-container">
    <h2>Servers</h2>
    <a href="../users_server/create-for-user.html" class="button-success" >Add to Server</a>
</div>
<table>

    <thead>
    <tr>
        <th>Server Name</th>
        <th>Is Admin</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Server 1</td>
        <td>Yes</td>
        <td>
            <a href="../servers/show.html" class="button-primary"  >View Server</a>
            <a href="../users_server/show.html" class="button-primary"  >View Association</a>
            <a href="../users_server/edit.html" class="button-edit" >Edit Association</a>
        </td>

    </tr>
    <tr>
        <td>Server 2</td>
        <td>No</td>
        <td>
            <a href="../servers/show.html" class="button-primary"  >View Server</a>
            <a href="../users_server/show.html" class="button-primary"  >View Association</a>
            <a href="../users_server/edit.html" class="button-edit" >Edit Association</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
