// _buttons.scss
@use 'colors' as *; // Imports color variables from colors.scss


button {
  all: unset; // Resets all styles
  font-size: 1em;  // Match font size
  text-decoration: none;  // Remove underline by default
  cursor: pointer;  // Make the button act like a button (with a pointer cursor)
  vertical-align: middle;  // Align the button vertically with other inline elements (like anchor tags)

  // vertically allign buttons to anchor tags (they are normally higher for some reason)
    position: relative;
    top: 5px;
}

@mixin button-styles($bg-color, $hover-color) {
  display: inline-block;
  margin: 10px auto 20px auto;
  padding: 10px 20px;
  background-color: $bg-color;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;

  &:hover {
    background-color: $hover-color;
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $hover-color;  // Apply hover color when disabled
  }

}

.button-primary,
button.button-primary {
  @include button-styles($pastel-purple, $darker-purple);
}

.button-danger,
button.button-danger {
  @include button-styles($pastel-red, $darker-red);
}

.button-success,
button.button-success {
  @include button-styles($pastel-green, $darker-green);
}

.button-edit,
button.button-edit {
  @include button-styles($pastel-yellow, $darker-yellow);
}

//disabled anchor tags
.button-primary.disabled,
.button-danger.disabled,
.button-success.disabled,
.button-edit.disabled{
    cursor: not-allowed;
}

.button-primary.disabled {
  background-color: $darker-purple;
}
.button-edit.disabled {
    background-color: $darker-yellow;
}
.button-danger.disabled {;
    background-color: $darker-red;
}
.button-success.disabled {
    background-color: $darker-green;
}

// Tooltip Styles
.button-tooltip-wrapper {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
}

.tooltip {
    visibility: hidden;
    background-color: $body-text-color;
    color: white;  // Text color
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 0.85em;
    position: absolute;
    top: 130%;  // place below the button
    left: 50%;
    transform: translateX(-50%);
    width: 250px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    /* Tooltip arrow */
    &:after {
        content: '';
        position: absolute;
        bottom: 100%;  /* Arrow at the top of the tooltip */
        left: 50%;
        transform: translateX(-50%);
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent $body-text-color transparent;  // Use pastel purple for the arrow
    }
}

.button-tooltip-wrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
}
