@use 'colors' as *;

.form-item {
    width: 90%;
    margin: 10px auto;
}
.form-item label {
    //text-transform: uppercase;
    font-weight: bold;
}

.form-item input:not([type="submit"]), select {
    margin-bottom: 10px;
}

.checkbox-container {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.checkbox-container label {
    white-space: nowrap;
    flex: 1;
    padding-right: 10px;
    text-align: left;
}

.checkbox-container input[type="checkbox"] {
    flex: 0;
}

form.form-container {
    width: 60%;
    margin: 20px auto;
    background-color: $table-row-color;
    border: 1px solid $table-border-color;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 12px;

    // center items vertically
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.submit-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

.radio-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.radio-container label {
    margin: 0;
}

input:not([type="submit"]), select {
    width: 100%;
    padding: 10px;
    border: 1px solid $table-border-color;
    border-radius: 8px;
    background-color: ivory;
    color: $body-text-color;
    font-size: 1em;
}

input[type="password"],
input[type="email"],
input[type="text"],
select {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

input:focus,
select:focus {
    outline: none;
    border-color: $pastel-purple; // or any of your pastel colors
}


// errors
.error-message {
    color: $pastel-red;
    font-size: 0.9em;
    margin-top: 5px;
    display: none; // Initially hide the error messages
}

.error-summary {
    color: $pastel-red;
    font-size: 0.9em;
    margin-top: 5px;
    width : 80%;
}

input:invalid,
select:invalid {
    border-color: $pastel-red;
}

input:invalid+.error-message,
select:invalid+.error-message {
    display: block; // Show error message when input is invalid
}
