/* Pagination Links */
.pagination-links {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
.pagination-links ul {
    padding-left: 0;
    display: inline-flex;
    list-style: none;
}

.pagination-links li {
    display: inline-block;
    margin: 0 5px;
}
.pagination-links li a,
.pagination-links li span {
    border: 1px solid #ddd;
    background-color: ivory;
    color: #4a4a4a;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.pagination-links li.active span {
    background-color: #ce93d8;
    color: white;
    border-color: #ce93d8;
}

.pagination-links li a:hover {
    background-color: #e1f5fe;
}
