// _tables.scss

@use 'colors' as *;

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  table-layout: auto;
    min-width: fit-content;
    min-height: fit-content;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid $table-border-color;
  vertical-align: middle; // Aligns text vertically with buttons
}

th {
  background-color: $table-header-color;
  color: $body-text-color;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 5px 10px;
    min-width: fit-content;
}

td {
  background-color: $table-row-color;
  color: $body-text-color;
  font-size: 1.1em;
}

td a:hover {
  text-decoration: underline;
}

tr:hover td {
  background-color: $table-row-hover-color;
}

// Resize buttons so they dont stretch the table too much
td .button-primary,
td .button-danger,
td .button-success,
td .button-edit
{
  padding: 6px 12px;  // Standard button padding
  font-size: 0.85em;  // Adjust font size for consistency
  display: inline-block;
  margin: 0;  // Removes default margin around the button
}

