body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #e0f2f1;
  color: #4a4a4a;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

h1 {
  text-align: center;
  color: #555555;
  margin-top: 20px;
  font-size: 2em;
  letter-spacing: 0.05em;
}

/* Make section titles stand out more */
h1, h2, h3 {
  font-size: 2.5em; /* Larger font size for a more prominent look */
  color: #555555; /* Darker color for contrast */
  letter-spacing: 0.1em; /* Slightly wider letter spacing for a gothic feel */
  margin-bottom: 20px;
  font-family: "Impact", sans-serif;
}

.permanent-header {
  color: #555555;
  padding: 10px 0;
  background: #25437e linear-gradient(to bottom, #25437e 85%, #e0f2f1 100%);
}

h1.website-title {
  color: #ffccbc;
}

.header-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* Space between title and buttons */
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping of items if the screen size is small */
}

.header-container h1 {
  margin: 0;
  flex-grow: 1; /* Ensures the heading takes up remaining space */
  text-align: left; /* Align the heading to the left */
}

.header-container a, .header-container button {
  margin: 10px 0; /* Adds margin to buttons */
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
  display: inline-block;
  text-align: center;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Spacing between buttons */
.header-container a:not(:last-child), .header-container button:not(:last-child) {
  margin-right: 15px;
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  table-layout: auto;
  min-width: fit-content;
  min-height: fit-content;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  vertical-align: middle;
}

th {
  background-color: #ffccbc;
  color: #4a4a4a;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
  padding: 5px 10px;
  min-width: fit-content;
}

td {
  background-color: #f1f8e9;
  color: #4a4a4a;
  font-size: 1.1em;
}

td a:hover {
  text-decoration: underline;
}

tr:hover td {
  background-color: #e1f5fe;
}

td .button-primary,
td .button-danger,
td .button-success,
td .button-edit {
  padding: 6px 12px;
  font-size: 0.85em;
  display: inline-block;
  margin: 0;
}

button {
  all: unset;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  top: 5px;
}

.button-primary,
button.button-primary {
  display: inline-block;
  margin: 10px auto 20px auto;
  padding: 10px 20px;
  background-color: #ce93d8;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}
.button-primary:hover,
button.button-primary:hover {
  background-color: #ba68c8;
}
.button-primary:disabled,
button.button-primary:disabled {
  cursor: not-allowed;
  background-color: #ba68c8;
}

.button-danger,
button.button-danger {
  display: inline-block;
  margin: 10px auto 20px auto;
  padding: 10px 20px;
  background-color: #FF6F61;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}
.button-danger:hover,
button.button-danger:hover {
  background-color: #E0514A;
}
.button-danger:disabled,
button.button-danger:disabled {
  cursor: not-allowed;
  background-color: #E0514A;
}

.button-success,
button.button-success {
  display: inline-block;
  margin: 10px auto 20px auto;
  padding: 10px 20px;
  background-color: #77DD77;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}
.button-success:hover,
button.button-success:hover {
  background-color: #5CB85C;
}
.button-success:disabled,
button.button-success:disabled {
  cursor: not-allowed;
  background-color: #5CB85C;
}

.button-edit,
button.button-edit {
  display: inline-block;
  margin: 10px auto 20px auto;
  padding: 10px 20px;
  background-color: #f1d24f;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}
.button-edit:hover,
button.button-edit:hover {
  background-color: #e1c14a;
}
.button-edit:disabled,
button.button-edit:disabled {
  cursor: not-allowed;
  background-color: #e1c14a;
}

.button-primary.disabled,
.button-danger.disabled,
.button-success.disabled,
.button-edit.disabled {
  cursor: not-allowed;
}

.button-primary.disabled {
  background-color: #ba68c8;
}

.button-edit.disabled {
  background-color: #e1c14a;
}

.button-danger.disabled {
  background-color: #E0514A;
}

.button-success.disabled {
  background-color: #5CB85C;
}

.button-tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  visibility: hidden;
  background-color: #4a4a4a;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.85em;
  position: absolute;
  top: 130%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  opacity: 0;
  transition: opacity 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Tooltip arrow */
}
.tooltip:after {
  content: "";
  position: absolute;
  bottom: 100%; /* Arrow at the top of the tooltip */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #4a4a4a transparent;
}

.button-tooltip-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.form-item {
  width: 90%;
  margin: 10px auto;
}

.form-item label {
  font-weight: bold;
}

.form-item input:not([type=submit]), select {
  margin-bottom: 10px;
}

.checkbox-container {
  display: flex; /* Use flexbox to align label and checkbox */
  align-items: center; /* Vertically align items */
  justify-content: space-between; /* Keep label and checkbox on different sides */
}

.checkbox-container label {
  white-space: nowrap; /* prevent wrapping label */
  flex: 1; /* let label take up available space */
  padding-right: 10px; /* Add some space to the right of the label */
  text-align: left;
}

.checkbox-container input[type=checkbox] {
  flex: 0; /* Let checkbox take up only the space it needs */
}

form.form-container {
  width: 60%;
  margin: 20px auto;
  background-color: #f1f8e9;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end; /* Aligns buttons to the right */
  align-items: center; /* Ensures items are vertically centered */
  flex-wrap: wrap; /* Allows wrapping of items if the screen size is small */
}

.radio-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.radio-container label {
  margin: 0;
}

input:not([type=submit]), select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: ivory;
  color: #4a4a4a;
  font-size: 1em;
}

input[type=password],
input[type=email],
input[type=text],
select {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

input:focus,
select:focus {
  outline: none;
  border-color: #ce93d8;
}

.error-message {
  color: #FF6F61;
  font-size: 0.9em;
  margin-top: 5px;
  display: none;
}

.error-summary {
  color: #FF6F61;
  font-size: 0.9em;
  margin-top: 5px;
}

input:invalid,
select:invalid {
  border-color: #FF6F61;
}

input:invalid + .error-message,
select:invalid + .error-message {
  display: block;
}

@media screen and (max-width: 768px) {
  table {
    width: 100%;
  }
  th,
  td {
    padding: 10px 12px;
    font-size: 0.9em;
  }
  .header-container {
    flex-direction: column;
    align-items: center;
  }
  .header-container a {
    width: 100%;
    /* Makes buttons take full width on small screens */
    margin-right: 0;
    /* Removes extra space between buttons */
  }
  .button-primary {
    margin-bottom: 10px;
  }
}
/* Pagination Links */
.pagination-links {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.pagination-links ul {
  padding-left: 0;
  display: inline-flex;
  list-style: none;
}

.pagination-links li {
  display: inline-block;
  margin: 0 5px;
}

.pagination-links li a,
.pagination-links li span {
  border: 1px solid #ddd;
  background-color: ivory;
  color: #4a4a4a;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 5px;
}

.pagination-links li.active span {
  background-color: #ce93d8;
  color: white;
  border-color: #ce93d8;
}

.pagination-links li a:hover {
  background-color: #e1f5fe;
}

/*# sourceMappingURL=styles.css.map */
